* {
    background: rgba(0, 0, 0, 0.4);
    primary: #e1c46d;
    primary-fixed: #ffe086;
    primary-fixed-dim: #e1c46d;
    on-primary: #3c2f00;
    on-primary-fixed: #231b00;
    on-primary-fixed-variant: #574500;
    primary-container: rgba(87, 69, 0, 0.4);
    on-primary-container: #ffe086;
    secondary: #d4c5a1;
    secondary-fixed: #f1e1bb;
    secondary-fixed-dim: #d4c5a1;
    on-secondary: #383016;
    on-secondary-fixed: #221b04;
    on-secondary-fixed-variant: #50462a;
    secondary-container: #50462a;
    on-secondary-container: #f1e1bb;
    tertiary: #accfaf;
    tertiary-fixed: #c8ecca;
    tertiary-fixed-dim: #accfaf;
    on-tertiary: #183720;
    on-tertiary-fixed: #02210c;
    on-tertiary-fixed-variant: #2f4e35;
    tertiary-container: #2f4e35;
    on-tertiary-container: #c8ecca;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #16130b;
    on-surface: #eae2d4;
    on-surface-variant: #cec6b4;
    outline: #979080;
    outline-variant: #4c4639;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #eae2d4;
    inverse-on-surface: #343027;
    inverse-primary: #725c0c;
    surface-dim: #16130b;
    surface-bright: #3d392f;
    surface-container-lowest: #110e07;
    surface-container-low: #1e1b13;
    surface-container: #231f17;
    surface-container-high: #2d2a21;
    surface-container-highest: #38342b;
}
