layout {

    focus-ring {
        active-color   "#bbc7dd"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bbc7dd"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#bbc7dd"
        inactive-color "#253142"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bbc7dd80"
    }
}

recent-windows {
    highlight {
        active-color "#bbc7dd"
        urgent-color "#ffb4ab"
    }
}
