layout {

    focus-ring {
        active-color   "#c7c5d3"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c7c5d3"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c7c5d3"
        inactive-color "#161620"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c7c5d380"
    }
}

recent-windows {
    highlight {
        active-color "#c7c5d3"
        urgent-color "#ffb4ab"
    }
}
